
html{
    font-size: 18px;
    

}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
 body{
    overflow-x:hidden;
    
    
} 

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #000;
}
h1,h2{
    margin: 10px 0;
    line-height: 1.6;
}
p{
    line-height: 1.7;
    margin: 40px 0;
}

img{
    width: 100%;
    height: 100%;
}

/* =============Header============ */

.header{
    height: 800px;
    background:url('../images/desktop/image-header.jpg');
    background-position:bottom ;
    background-size: cover;
    overflow-x: hidden;
}
.header .flex{
    justify-content: space-between;
}

.navbar a{
    color: #fff;
    padding: 10px;
    margin: 0 15px;
    font-weight: 600;
    font-family: 'barlow',sans-serif;
 } 
 .sm-underline a:hover{
     border-bottom: 2px solid #fff;
 }
  .btn a{
      color:#000;
      font-family: 'Fraunces',sans-serif;
  }
 .navbar .btn:hover{
     background-color: #b1e0fd;
     transform: scale(0.77);  /* 1 is the default, so at 0.90, the btns get smaller*/
 }
.logo{
    color: #fff;
    font-weight: 900;
    
}
.headline{
    color: #fff;
    margin: 90px 0;
}
.hamburger{
    display: none;
}



/* ========= Section-2========= */

.content-2 p,
.content-3 p{
    color:hsl(232, 10%, 55%);
}

/* ========Section-3*/
.content-3 .color-underline{
    font-weight: 900;
    border-bottom: 5px solid hsl(7, 99%, 85%);
}

.content-3 .color-underline:hover{
    font-weight: 900;
    border-bottom: 5px solid hsl(7, 99%, 70%);
}

/* =============cherry-orange======== */
.cherry-orange{
    height: 600px;
    
    
}
.cherry{
    background-image: url('../images/desktop/image-graphic-design.jpg');
    color: hsl(167, 40%, 24%);


}
.orange{

    background-image: url('../images/desktop/image-photography.jpg');
    color: hsl(198, 62%, 26%);

}

.orange,
.cherry{

background-repeat:no-repeat;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
background-position:center;
}


/* ========testimonials */

.testimonials{
    padding: 50px 80px ;
    text-align: center;
}
.testimonials h3{
    padding: 70px 0 ;
    color: hsl(232, 10%, 55%);
}
.testimonials span{ 
    color: hsl(232, 10%, 55%);

}

.img-circle{
    border-radius: 50%;
    width:200px;
    height: auto;
}
.clients p{
    color: hsl(213, 9%, 39%);
    font-family: 'barlow',sans-serif;
    
}
.clients h4{
    padding: 20px 0;
}


/* =========== Footer ============ */
.footer{
    background-color: hsl(168, 34%, 75%);
    height: 300px;
    color:  hsl(168, 34%, 41%);
    font-family: 'barlow',sans-serif;
}
.footer .logo{
    padding:30px 0 0 0;
    color:hsl(168, 34%, 41%);
    font-size:larger;
    font-weight: 900;
}

.footer-navbar a{
    color:  hsl(168, 34%, 41%);
}
.footer-navbar ul li{
    padding: 40px 20px;
}
.icons{
 padding-bottom: 20px;
}
.icons i{
    padding: 0 10px;
}

.icons i:hover,.footer-navbar a:hover{
    color: #fff;
}
.attribution {
     font-size: 11px;
      text-align: center; 
    }
.attribution a {
     color: rgb(131, 131, 238); 
    }




    @media (max-width:768px) {
        body{
            overflow-x: hidden;
             
        }


        /* header */
        
        .hamburger{
            position: fixed;
            z-index: 100;
            top: 1rem;
            right: 1rem;
            padding: 4px;    
            cursor: pointer;
            color: #000;
            font-size: 30px;
            display: block;

        }
        .x-mark{
            display: none;
            
        }
        .menu{
            position: fixed;
            transform: translateY(-100%);  /*menu is hidden above the screen*/
            transition: transform 0.2s;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 99;
            background: #fff;
            list-style: none;
            padding-top: 4rem;
            display: flex;
            flex-direction: column;
            height: 65%;
            padding: 10px;

        
         
        }
        .menu a{
            color: #000;
        
        }
        
        .sm-underline a:hover{
            border-bottom: 5px solid  hsl(51, 100%, 49%);
 
        }
        .menu .btn:hover{
            background-color:hsl(51, 100%, 49%);
            

        }
        
        
        
         .show-menu{
            transform: translate(0); /*menu shows*/
        }


         /* content-2 and content-3 */
          .content-2,
          .content-3 {
               display: grid;
               grid-template-rows: 2fr;
               grid-template-columns: 1fr;
                      
           } 
           .content-2{
               display: flex;
               flex-direction: column-reverse;
           }
           .text-part{
               text-align: center;
           }

           /* cherry-orange */
           .cherry-orange{
               grid-template-columns: 1fr;
               height: 1200px;
        
           }
           

           /* testimonials */
           .grid-3{
               grid-template-columns:1fr ;
               grid-template-rows: 3fr;
           }
           /* gallery */
           .grid-4{
               grid-template-columns:repeat(2,1fr);
               
           }

        

        
    }


    